<div class="sidenav" [class.closed]="!isOpen">

  <div class="item" routerLink="/dashboard/notes" routerLinkActive="active">
    💡 <span>Notes</span>
  </div>

  <div class="item" routerLink="/dashboard/reminders" routerLinkActive="active">
    🔔 <span>Reminders</span>
  </div>

  <div class="item">
    ✏️ <span>Edit labels</span>
  </div>

  <div class="item" routerLink="/dashboard/archive" routerLinkActive="active">
    📦 <span>Archive</span>
  </div>

  <div class="item" routerLink="/dashboard/trash" routerLinkActive="active">
    🗑️ <span>Trash</span>
  </div>

</div>