<div *ngIf="note" class="note-card"
     [ngStyle]="{'background-color': note.color || '#ffffff'}">

  <h3>{{ note?.title }}</h3>

  <!-- ✅ FIXED: text line-by-line -->
  <p class="desc" [innerHTML]="formatDescription(note?.description)"></p>

  <div class="actions">

    <!-- NORMAL -->
    <ng-container *ngIf="!note.isDeleted">
      <span class="material-icons" (click)="onReminder()">notifications</span>
      <span class="material-icons" (click)="onArchive()">archive</span>
      <span class="material-icons" (click)="onDelete()">delete</span>

      <span class="material-icons" (click)="togglePalette()">palette</span>

      <div class="color-palette-popup" *ngIf="showPalette">
        <span *ngFor="let color of colors"
              class="color"
              [style.background]="color"
              (click)="selectColor(color)">
        </span>
      </div>
    </ng-container>

    <!-- TRASH -->
    <ng-container *ngIf="note.isDeleted">
      <span class="material-icons" (click)="onRestore()">restore</span>
      <span class="material-icons" (click)="onDeleteForever()">delete_forever</span>
    </ng-container>

  </div>
</div>