.note-card {
  padding: 12px;
  border-radius: 10px;
  margin: 10px;
  

  
  color: #000; 
}


.note-card h3 {
  color: #000;
}

.note-card .desc {
  color: #333;
}


.material-icons {
  color: #000; 
  cursor: pointer;
  opacity: 0.7;
}

.material-icons:hover {
  opacity: 1;
}


.color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
}
.notes-grid {
  display: flex;
  flex-wrap: wrap;     
  gap: 20px;
  padding: 20px;
}


app-note-card {
  width: 250px;
}
.note-card {
  width: 250px;  
}
.desc {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.note-card h3 {
  word-break: break-word;
}
.note-card {
  width: 250px;       
  max-width: 250px;   
}


.desc {
  white-space: pre-line; 
  line-height: 1.5;
}


.note-card {
  width: 250px;
  max-width: 250px;

  overflow: hidden;   
}
.color-palette-popup {
  position: absolute;
  bottom: 35px;  
  left: 0;
  background: #2d2d2d;
  padding: 6px;
  border-radius: 8px;

  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  width: 150px;  
  z-index: 100;

  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}
.note-card {
  position: relative;
}

.click-layer {
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
}

.note-card h3,
.note-card .desc {
  position: relative;
  z-index: 2;
}

.actions {
  position: relative;
  z-index: 3;
}
.note-content {
  cursor: pointer;
}