<div *ngIf="note"
     class="note-card"
     [ngStyle]="{'background-color': note.color || '#ffffff'}">

  <!--  ONLY THIS SHOULD TRIGGER EDIT -->
  <div class="note-content" (click)="onEdit()">
    <h3>{{ note?.title }}</h3>
    <p class="desc" [innerHTML]="formatDescription(note?.description)"></p>
  </div>

  <div class="actions">

    <!-- NORMAL -->
    <ng-container *ngIf="!note.isDeleted && !note.isArchived">

      <span class="material-icons"
            (click)="onReminder(); $event.stopPropagation()">
        notifications
      </span>

      <span class="material-icons"
            (click)="onArchive(); $event.stopPropagation()">
        archive
      </span>

      <span class="material-icons"
            (click)="onDelete(); $event.stopPropagation()">
        delete
      </span>

      <!--  FIXED -->
      <span class="material-icons"
            (click)="togglePalette(); $event.stopPropagation()">
        palette
      </span>

      <!-- COLOR PALETTE -->
      <div class="color-palette-popup"
           *ngIf="showPalette"
           (click)="$event.stopPropagation()">

        <span *ngFor="let color of colors"
              class="color"
              [style.background]="color"
              (click)="selectColor(color); $event.stopPropagation()">
        </span>

      </div>

    </ng-container>

    <!-- ARCHIVED -->
    <ng-container *ngIf="note.isArchived && !note.isDeleted">
      <span class="material-icons"
            (click)="onArchive(); $event.stopPropagation()">
        unarchive
      </span>
    </ng-container>

    <!-- TRASH -->
    <ng-container *ngIf="note.isDeleted">
      <span class="material-icons"
            (click)="onRestore(); $event.stopPropagation()">
        restore
      </span>

      <span class="material-icons"
            (click)="onDeleteForever(); $event.stopPropagation()">
        delete_forever
      </span>
    </ng-container>

  </div>
</div>