<div class="header">

  <!-- LEFT -->
  <div class="left">
    <span class="material-icons menu" (click)="toggleSidebar.emit()">menu</span>

    <div class="logo-section">
      <span class="material-icons logo-icon">lightbulb</span>
      <span class="logo-text">Keep</span>
    </div>
  </div>

  <!-- CENTER SEARCH -->
  <div class="search-container">
    <span class="material-icons search-icon">search</span>

    <input
      type="text"
      placeholder="Search"
      [(ngModel)]="searchText"
      (input)="onSearch()" />
  </div>

  <!-- RIGHT -->
  <div class="right">

    <!-- Refresh -->
    <span class="material-icons icon" title="Refresh" (click)="refresh()">
      refresh
    </span>

    <!-- Grid/List -->
    <span class="material-icons icon"
      title="Toggle view"
      (click)="onToggleView()"
      style="cursor:pointer">
  {{ isGrid ? 'view_agenda' : 'grid_view' }}
</span>

    <!-- Settings -->
    <span class="material-icons icon" title="Settings" (click)="toggleSettings()">
      settings
    </span>

    <!-- Apps -->
    <span class="material-icons icon" title="Apps">
      apps
    </span>

    <!-- Profile -->
    <div class="profile">
      <img *ngIf="userImage; else fallback" [src]="userImage" />

      <ng-template #fallback>
        <span>{{ userInitial }}</span>
      </ng-template>
    </div>

    

  </div>
  

</div>